body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    color: white;
    font-size: 40px;
    text-align: center;
    /*position: relative;
    justify-content: center;*/
    background-image: url('soles.jpg');
    background-repeat: repeat;
    background-size: 100%;
}
.arbustos{
    display: flex;
    align-items: center;
    background: black;
    display: flex;
    justify-content: center;
}
.carta{
    width: 255px;
    height: 360px;
    margin:20px;
    background-image: url("cards.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carro{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;
    background-image: url("carro.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lovers{
    width: 255px;
    height: 360px;
    margin:20px;
    background-image: url("amantas.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fuerza{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;
    background-image: url("fuerza.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.luna{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;

    background-image: url("luna.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mago{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;

    background-image: url("mago.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.muerte{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;

    background-image: url("muerte.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rueda{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;

    background-image: url("rueda.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sol{
    width: 255px;
    height: 360px;
    margin:20px;
    border-radius: 10px;

    background-image: url("sol.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    justify-content: center;
    align-content: center;
    grid-area: auto;
    /*background-color: black;
    background-image: url("spaceback.jpg");*/
    padding: 30px;
}
.grid-item {
  background-image: url("spaceback.jpg");
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.sketch_effect{
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}